.home {
    &__carousel {
        margin-top: 148px;
    }
    &__slick {
        position: absolute;
        border: none;
        outline: none;
        top: 50%;
        background-color: rgba(37, 32, 32, 0);
        opacity: 0.2;
        transition: 0.5s all;
        cursor: pointer;
        width: 64px;
        height: 64px;
        padding: 0;
        &:hover {
            opacity: 1;
        }
    }
    &__prev {
        left: 70px;
    }
    &__next {
        right:  70px
    }
}




    


    // .slick-prev, .slick-next {
    //     position: absolute;
    //     transform: translate(-200%, -45%);
    //     top: 0;
    //     border: none;
    //     background-color: rgba(37, 32, 32, 0);
    //     opacity: 0.2;
    //     transition: 0.5s all;
    //     cursor: pointer;
    //     width: 64px;
    //     height: 64px;
    //     padding: 0;
    //     &:hover {
    //         opacity: 1;
    //     }
    //     img {
    //         width: 64px;
    //         height: 64px;
    //     }
    // }
    // .slick-next {
    //     right: 0;
    //     top: 0;
    //     transform: translate(200%, -45%);
    // }
    // .slick-dots {
    //     position: absolute;
    //     display: block;
    //     margin: 103px 0 0 0;
    //     padding: 0;
    //     list-style-type: none;
    //     width: 100%;
    //     text-align: center;
    //     li {
    //         position: relative;
    //         display: inline-block;
    //         padding: 0;
    //         button {
    //             padding: 0;
    //             border: none;
    //             border-radius: 100%;
    //             width: 8px;
    //             height: 8px;
    //             margin: 0 2px;
    //             font-size: 0;
    //             cursor: pointer;
    //         }
    //     }
    //     .slick-active {
    //         button {
    //             width: 16px;
    //             height: 16px;
    //             transition: 0.5s all;
    //         }
    //     }
    // }