.purchase {
    padding-bottom: 60px;
    .hr {
        margin: 9px 0 0 0;
    }
    &__btn {
        display: block;
        outline: none;
        margin: 0 auto;
        width: 117px;
        height: 40px;
        background-color: #87b672;
        border: none;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
        cursor: pointer;
    }
}