.work {
    padding-bottom: 50px;
    &__background {
        position: absolute;
        left: 0;
        width: 100%;
        height: 360px;
        background-color: #efefef;
        z-index: -1;
    }
    &__wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        text-decoration: none;
        display: flex;
        flex-direction: column;
    }
    &__img {
        position: relative;
        display: block;
        height: 100%;
    }
    &__comp {
        display: block;
        width: 100%;
        max-height: 200px;
        max-width: 354px;
    }
    &__screens {
        display: block;
        position: absolute;
        top: 8%;
        left: 13.5%;
        display: block;
        width: 73%;
        height: 73%;
    }
    &__screen, &__screen-on {
        position: absolute;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        transition: 1s all;
    }
    &__screen-on {
        opacity: 1;
    }
    &__screen {
        &:hover {
            opacity: 0;
        }
    }
    &_about-bg {
        position: relative;
        padding-bottom: 0;
    }
}